---

---

<section class="w-full h-auto flex flex-col items-center text-center pt-10 pb-10 text-white">

    <h1 class="text-white text-2xl mt-40 font-bold font-sen">
        Contact Me
    </h1>

    <p class="font-light text-xl p-8 ">
        Have an idea or project in mind? <br/> Reach out, and let’s create something extraordinary.
    </p>

    <a href="https://wa.link/rvzd0c" class="text-black font-sen hover:bg-slate-100 transition duration-5000 ease-out w-36 flex justify-center items-center px-4 py-4 bg-white rounded-lg font-bold">
        Contact Me
    </a>

</section>