<nav class="bg-black shadow-md w-full">
  <div class="container mx-auto py-8 flex justify-between items-center font-sen">
    <a href="/" class="text-xl ml-2 md:ml-4 font-bold text-white pl-4">Obed Okemsinachi.</a>
  <a href="/resume.pdf" class="bg-white font-sen font-bold p-3 mr-6 md:mr-4 rounded-lg lg:p-2 hover:bg-slate-100 transition duration-5000 ease-out flex justify-evenly items-center">Check resumè</a>
  </div>
</nav>
